﻿@{
    ViewBag.Title = "資產明細查詢";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHostUrl"].ToString();
}
@model  IEnumerable<AMS.Models.AMS_Main>
@Styles.Render("~/Content/ams")
<style>
.table thead tr td { font-size:16px; padding:4px; color:blue; cursor:pointer; }
.table tbody tr td { font-size:18px; padding:4px; color:#444; }
.iconOK { color:Green; font-size:18px; display:inline-block; margin:3px 10px;  position:inherit; }
.iconFlag { color:brown; font-size:18px; azimuth display:inline-block; margin:3px 10px; position:inherit; }
#LogoTitle h4 { padding-left:80px; }
.sortable td{}
</style>

@{string icon_ok = "", check_status = "", icon_flag = "";}

<div id="LogoTitle"><h4>資產明細查詢</h4></div>

<table class="table">
<thead><tr class="sortable"><td>AssetID</td><td>AssetName</td><td>OwnerGroupID</td><td>EmpName</td><td>IsCheck</td><td>IsMark</td></tr></thead>
<tbody>
@foreach (var c in Model)
{
    icon_ok = ""; check_status = ""; icon_flag = "";
    if (c.IsChecked == "Y") { icon_ok = "glyphicon glyphicon-ok iconOK"; check_status = "success"; }
    if (c.IsMarked == "Y") { icon_flag = "glyphicon glyphicon-flag iconFlag"; }
    <tr class="@check_status"><td>@c.AssetID</td><td>@c.AssetName</td><td>@c.OwnerGroupID</td><td>@c.EmpName</td><td><span class="@icon_ok"></span></td><td><span class="@icon_flag"></span></td></tr>
}
</tbody>
</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    var iasc = 1, _asc = "";

    $(function () {
        var url = location.href;
        var arr = url.split("/");
        var i=arr.length-1;
        _asc = (arr[i] == "asc") ? "desc" : "asc";
        console.log(url, _asc);
    });

    $("thead td").click(function () {
        var fn = $(this).html();  
        location.href = "@host/Asset/Grid/" + fn + "/" + _asc;
    });
</script>
