﻿@{
    ViewBag.Title = "OneLab 盤點系統";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHostUrl"].ToString();
    string chedown = "glyphicon glyphicon-chevron-down";
}
@model AMS2.ViewModels.AMSViewModel
@Styles.Render("~/Content/ams")
<style>
    .left { float:left; font-size:24px; font-weight:bold; margin:0 0 0 80px; color:red; border:solid 1px #aaa; text-align:center; border-radius:10px; }

</style>

<div class="box">
<div id="LogoTitle"><h3 class="left">@Model.Typ</h3></div>

@if (Model != null)
{
    if (Model.ErrorMsg != null)
    { 
    <div id="ErrorMsg" data-assetid=@Model.OddAssetID>@Model.ErrorMsg <button class="btn btn-default" id="btnRemarkOddIDYes">Yes</button><button class="btn btn-default" id="btnRemarkOddIDCancel">Cancel</button></div>
    }
}

<form class="" action="@host/Asset/MobileQuery" method="post">
    <div class="input-group input-group-lg">
      <span class="input-group-addon glyphicon glyphicon-barcode" id="barcode_icon"></span>
        <input name="Typ" value="@Model.Typ" type="hidden" />
      <input id="txtAssetID" type="text" name="AssetID" class="form-control input-lg" placeholder="AssetID">
      <button id="btnSearch" class="btn btn-primary active form-control" role="button" type="submit"><span class="glyphicon glyphicon-search searc"></span></button>
    </div>
</form>

@if (Model!=null)
{
    string icon_ok="", icon_flag="", check_status="";

    if (Model.AmsMain != null)
    {
        
        var mm = Model.AmsMain;
        if (mm.IsChecked == "Y") { icon_ok = "glyphicon glyphicon-ok iconOK"; check_status = "success";}
        if (mm.IsMarked == "Y") { icon_flag="glyphicon glyphicon-flag iconFlag"; }
    
    <span class="@icon_ok mylg24"></span>
    <span class="@icon_flag mylg24"></span>
    <form id="form_btn" method="post">
        <input type=hidden name="AssetID" id="hAssetID" />
        <input type=hidden name="Owner" id="hOwner" />
        <input type=hidden name="Group" id="hGroup" />
        <input type=hidden name="Location" id="hLocation" />
        <input type=hidden name="Typ" id="hTyp" value="@Model.Typ" />
        <div class="btn-group btns">
            <button type="submit" class="btn btn-default" id="btnCheckOK">Check OK!</button>
            <button type="submit" class="btn btn-default" id="btnMark">MARK</button>
            <button type="submit" class="btn btn-default" id="btnSaveChange">Save Change</button>
        </div>
    </form>
    
<table class=table>
    <tr class="@check_status"><td class="ttl">Asset:</td><td><b id=assetid class="assetid-sm">@mm.AssetID</b>@mm.AssetName </td></tr>
    <tr><td class="ttl">Location:</td><td>@mm.OwnerGroupID<select id="ddl_groups" class="ddl">
            <option value="">請選Location...</option><option value=" ">清空</option>
            @foreach (var c in Model.Groups)
            { <option value=@c.OwnerGroupID>@c.OwnerGroupID</option> }</select></td></tr>
    <tr><td class="ttl">Owner:</td>
            <td>@mm.EmpName 
            <select id="ddl_owners" class="ddl">
                <option value="">請選Owner...</option><option value=" ">清空</option>
            @foreach (var c in Model.Owner.OrderBy(x => x.Owner))
            { <option value="@c.Owner">@c.Owner</option> }</select>
            <select id="ddl_ownerAZs" class="ddl AZ"><option value="">A~Z</option>@ViewData["AZ"]</select>
            
            </td></tr>
    <tr><td class="ttl"></td><td>@mm.LocationID <select id="ddl_locations" class="ddl">
            <option value="">請不要選...</option><option value=" ">清空</option>
            @foreach (var c in Model.Locations) { <option value=@c.LocationID>@c.LocationName</option> }</select></td></tr>
    <tr><td class="ttl">Progress／Log:</td><td>
         <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" id="ProgressChecked" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">40% Complete (success)</span>
              </div>
              <b></b>
          </div>
        <ul id="loglist">
            @foreach (var c in Model.AmsMainlogs.OrderByDescending(x => x.SN)) { 
                <li><span class=logdate>@c.InsertDate.Value.ToString("MM-dd hh:mm")</span><span class=colname>@c.ColName</span><span class=logval>@c.After</span></li>
            }
        </ul>
        </td></tr>
</table>
    }
}
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">

    var assetID = "";

    $(function () {
        assetID = $(".assetid-sm").html();
        $("#txtAssetID").focus();
        fn_ProgressBarHandler(@Model.CheckCC, @Model.TotalCC);
    });


    function fn_ProgressBarHandler(ichecked, itotal)
    {
        var ratioCC=ichecked/itotal;
        var iPercent= parseInt( ratioCC*100);
        $("#ProgressChecked").css("width", iPercent+"%");
        $(".progress b").html(iPercent+"%");
    }


    $("#btnSaveChange").click(function () {
        $("#hAssetID").val(assetID);
        $("#hOwner").val($("#ddl_owners").val());
        $("#hGroup").val($("#ddl_groups").val());
        $("#hLocation").val($("#ddl_locations").val());
        $("#form_btn").attr("action", "@host/Asset/Save").submit();
    });

    $("#btnMark").click(function () {
        $("#hAssetID").val(assetID);
        $("#form_btn").attr("action", "@host/Asset/Mark").submit();
    });

    $("#btnCheckOK").click(function () {
        $("#hAssetID").val(assetID); 
        var typ= $("#hTyp").val();
        console.log("check", typ);
        $("#form_btn").attr("action", "@host/Asset/CheckOK").submit();
    });

    $("#btnRemarkOddIDYes").click(function () {
        $("#hAssetID").val(assetID);
        $("#form_btn").attr("action", "@host/Asset/RemarkOddID").submit();
    });

    $("#btnRemarkOddIDCancel").click(function () {
        $("#ErrorMsg").hide("fast");
    });

    $("#ddl_ownerAZs").change(function(){
        var v=$(this).val(), 
            selected=$("#ddl_owners option[value^='"+v+"']:eq(0)").val();
        $("#ddl_owners").val(selected);
    });
</script>