﻿#LogoTitle { background: url("../Images/onelab-logo-sm.png") no-repeat 0 30%;
            padding: 12px 0 2px 20px; width:100%; height:40px;}
.box{ border:solid 0px #aaa; padding:0px; margin:0 ;}
.boxbtns { padding: 0 10px; }
.sm9 {font-size:10px; color:Red; }
#barcode_icon {top:0px; }
#txtAssetID { width:79%; }
#btnSearch {width:20% }
.mylg {font-size:19px; }
.mylg24 {font-size:24px; }
.iconOK { color:Green; font-size:36px; display:inline-block; margin:5px 0; position:absolute; top:150px; right:24px; }
.iconFlag { color:brown; font-size:36px; display:inline-block; margin:5px 0; position:absolute; top:150px; right:64px; }
.float-right { float:right;}
.searc { margin-left:-6px;}
.table tr td { padding:5px; font-size:18px; }
.ttl { text-align:right; color:#666; }
.btns {margin:10px 0; float:right; }
.assetid-sm {font-size:15px; color:Blue; font-weight:bold; display:inline-block; width:100%; }
.ddl { float:right; margin:0; font-size:15px; padding:3px; text-align:right; width:130px;}
.ddl.AZ { width:80px; }
.dropdown-menu { font-size:19px; }
#loglist {border:solid 0px #ddd; padding:0 1% 0; width:100%; font-size:13px; color:#555; max-height:150px; overflow:auto; }
#loglist li { list-style-type:none; width:100%; margin:0 0 1px; display:inline-block; border-bottom:solid 1px #eee;  }
    #loglist li .colname { float:left; width:35%;  }
    #loglist li .logval {  width:35%; display:inline-block; font-weight:bold; color:#333; }
    #loglist li .logdate { float:left; width:30%; }
    
#ErrorMsg { margin: 10px 0; padding:12px; background-color:gold; color:#222; font-size:17px; }
#ErrorMsg .btn { margin:2px 5px; }
.progress {width:100%; }
.progress b { text-align:center; color:blue; font-size:14px; font-weight:bold; margin:0 auto; display:block; }

/** for gridview.. */

#mmain { position: relative;}
.table thea22d { position:fixed; top:40px; left:0px; z-index:999; width:100%; }
.table thead tr th { font-size: 16px; padding: 10px; color: #eee; cursor: pointer; background-color: #444; }
.table tbody tr td { font-size: 16px; padding: 4px 10px; color: #444; }
.iconOK { color: Green; font-size: 18px; display: inline-block; margin: 3px 10px; position: inherit; }
.iconFlag { color: brown; font-size: 18px; display: inline-block; margin: 3px 10px; position: inherit; }
#LogoTitle h4 { padding-left: 80px; width:255px; float:left; }
.form-group { margin-bottom: 15px; display: inline-block; float: left; width: 300px;}
.edit-td .note-dscr { display: inline-block; }
.edit-td .btnNote { display: none; cursor: pointer; position: relative; top: 0; left: 0; z-index: 999; margin: 0; }
.edit-td:hover .btn.btn-info.btnNote { display: inline-block; }
.edit-note-panel { border: solid 1px #aaa; padding: 5px; width: 100%; margin: 0 0 10px; }
.edit-note-panel input { padding: 5px; font-size: 1.4em; width: 100%; }
.edit-note-panel button { margin: 0 5px 0 0; }
.table thead tr th.td-note { width: 300px; }
.red { color: red; }
.green { color:Green; }
.large { font-size:18px; }
.selected, .selected td { background-color: #ccc; color: #fff; }
.td-assetname { }
.IsConfirm,.IsChecked,.IsMarked { width:120px; }
#uploadfiles { float:left; width:280px; }
#export,#import { float:right; }
#export { margin:0 0 0 16px; }