﻿#OnelabMeetingRoomMap { float:left; padding:3px; margin:0 3px -6px; border:solid 1px #eee;}
#MeetingRoomMap { position:absolute; top:30px; left:10px; width:1170px; height:360px; border:solid 9px #888; 
                 border-radius:20px; z-index:9990; background-color:#eee; display:none; }
#MeetingRoomMap .room { position:absolute; z-index:9999; font-size:18px; color:#fff; line-height:15px; border-radius:4px;
                        font-weight:bold; cursor:pointer; text-align:center; line-height:30px; }
#MeetingRoomMap .room:hover { font-size:20px; } 

.floor{ position:relative; float:left; display:inline-block; margin:20px 15px; width:400px; height:300px; border:solid 2px #aaa;}
.floor.f3{ background: #eee url("../Images/new/s03f.jpg") no-repeat ;}
.floor.f4{ background: #eee url("../Images/new/s04f.jpg") no-repeat ; width:240px; }
.floor.f8{ background: #eee url("../Images/new/s08f.jpg") no-repeat ;}

.floor.f3 .room { position:absolute; opacity:0.9; background-color:#ee7e13;}
.floor.f4 .room { position:absolute; opacity:0.9; background-color:#c32525;}
.floor.f8 .room { position:absolute; opacity:0.9; background-color:#81acc8;}
/* Special Triangle Room*/
#Room3A { top: 148px; left: 188px; float:left;
    width: 80px;
    height: 0;    
    padding-left:38px;
    padding-bottom: 67px;
    overflow: hidden;
    background-color:transparent;
}

    #Room3A:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-left:-500px;
        border-left: 500px solid transparent;
        border-right: 500px solid transparent;
        border-bottom: 500px solid #ee7e13;
    }
    .inner { position: relative; top: 37px; left: -20px; color: #fff; }
    .inner2 { position: relative; top: 16px; left: 3px; color: #fff; transform: rotate(-45deg); }

#Room3B { top: 124px; left: 133px; width: 80px; height: 57px; -ms-transform:rotate(45deg); transform: rotate(45deg); }
#Room3C { top: 191px; left: 11px; width: 48px; height: 30px; }
#Room6A { top: 185px; left: 150px; width: 29px; height: 33px; }
#Room6B { top: 107px; left: 149px; width: 41px; height: 30px; }
#Room8A { top: 151px; left: 220px; width: 80px; height: 40px; }
#Room8B { top: 151px; left: 189px; width: 30px; height: 37px; }  
#Room8C { top: 151px; left: 158px; width: 28px; height: 35px; }
#Room8D { top: 151px; left: 101px; width: 54px; height: 35px; }
#Room8E { top: 118px; left: 10px; width: 74px; height: 33px; }
#Room8F { top: 215px; left: 318px; width: 24px; height: 26px; }

#MeetingRoomMap #RoomSyntek { top:38px; left:1180px; width:78px; text-align:center; padding:3px;
                                background-color:#7A71A3; color:#fff; }
#MeetingRoomMap #btnCloseMap { position:absolute; z-index:9000; top:5px; right:5px; display:inline-block; padding:1px 3px; border:0px; }

.content-wrapper { margin: 0 auto; max-width: 99%;}
.modal-header { background-color:#ddd; color:#333; 
                border-top-left-radius: 4px; border-top-right-radius: 4px; }
#errorMsg { background-color:gold; color:brown; font-size:15px; padding:4px 12px; margin:0 0 6px ; font-weight:bold; display:none;}
#calendar { width: 100%; margin: -6px auto; color:#888;}
#calendar table thead {
        z-index:999;
        background-color:#fff;
        -webkit-box-shadow: #aaa 0px 1px 6px; 
        -moz-box-shadow: #aaa 0px 1px 6px; 
        box-shadow: #aaa 0px 1px 6px;
}
.fc-event-title { display: none; }
.fc-event-inner { cursor:pointer; }
.ev-panel { float:left; padding: 2px 5px; width: auto; margin:0; }
.ev-panel b { background-color:#555; color:#fff; margin:1px 2px; padding: 2px 4px; font-size:10px; cursor:pointer;  }
.ev-panel b.room-lb { font-size:12px; position:relative; left:-12px; background-color:#666; border-radius:7px; }
.ev-panel .agenda { font-size:13px; }
.ev-panel .room, .ev-panel .creator { float:left; }
.ev-panel .room { font-size:13px; font-weight:bold; margin:0 4px; padding:0 4px; border:solid 1px #eee;}
.ev-panel .creator {  float:right; color:#eee; font-size:12px; padding:0 3px; width:100%; text-align:right;}
.ev-panel div { float:left; }

.fc-agenda-slots td div { height:28px;}
.fc-event-time {display:none; }
.btns{ float:left; width:100%; border-bottom:border 1px #aaa; padding:0px; }

#addnewbooking { line-height:1.2em; margin: 0 2px; }
#RoomTab { margin:0px; float:left; padding:0px; display:none; }
#RoomTab li{ position:relative; color:#fff; list-style-type:none; float:left; margin:1px 5px 0 0; bottom:-2px; 
            border-top-left-radius: 2px; border:solid 0px #aaa; top:7px;
            border-top-right-radius: 10px; padding:3px 1px; cursor:pointer; }
#RoomTab b { padding:2px 5px; float:left; font-size:18px;}
#RoomTab .tab-span { float:left; line-height:14px; margin-top:4px; }
#RoomTab .A2 { background-color:#D25A5A;}

.fc-header-title h2 { font-size:22px; color:#666;}
.tab-tag { float:left; width:70px; height:33px; border:solid 1px #555; margin:2px;}

header { background-color:#efefef;  }
header.f3 { border-bottom: solid 5px #ee7e13; }
header.f6 { border-bottom: solid 5px #c32525; }
header.f8 { border-bottom: solid 5px #81acc8; }
header.fA { border-bottom: solid 5px gold;  }

.A1 {  background-color:#ee7e13;}
.A2 {  background-color:#c32525;}
.A3 {  background-color:#783232;}
.B1 {  background-color:#81acc8;}
.B2 {  background-color:#539d79;}
.B3 {  background-color:#a13b93;}

.F3A, .F3B, .F3C, .F3D { background-color:#ee7e13; opacity:0.9;}
.F6A, .F6B              { background-color:#c32525; opacity:0.9;}
.F8A, .F8B, .F8C, .F8D, .F8E, .F8F  { background-color:#81acc8; opacity:0.9;}
.FAll { background-color:gold; color:#539d79; opacity:0.9;}
#RoomTab li.FAll { color:#333;} 

.Syntek {  background-color:#7a71a3;}
footer { position:absolute; bottom:0px; border:solid 1px #888; z-index:999; width:100%; margin:0px; height:30px; padding:5px 20px;  }
#BookingUser { float:right; font-size:16px; }

#help,#OnelabMeetingRoomMap,#returnITS { color:Blue; text-decoration:underline; padding:1px 6px; margin:5px 20px 0 0; font-size:15px; font-weight:bold; cursor:pointer; }
#help,#returnITS { margin:5px 0 0 0;}
#help,#helpClose { cursor:pointer;}
#helpPanel { padding:10px 22px; width:50%; float:right; border:solid 2px #555; margin:2px 10px 18px; background-color:#eee; color:#444;
            border-radius: 8px; display:none; position:absolute; z-index:999; top:50px; right:14px;  }
#helpPanel #content { float:left; display:inline-block; }
#helpClose { position:absolute; z-index:1000; top:5px; right:5px; display:inline-block; padding:1px 3px; border:0px; }
.notification  
{ position:absolute; z-index:999; top:1px; left:280px;
    background-color: #FFCC00; border-radius:6px;
color: #333;
padding: 4px 10px;
font-size: 14px;
display: inline-block;
font-weight: bolder;
font-family: meiryo; }
.red { color:Red; font-size:15px;}
.deviceDscr {
    border: solid 1px #ccc; padding:0 5px;
    border-radius: 5px;
    width: 300px;
    height: 75px;
    z-index: 19999;
    position: absolute;
    top: 55px;
    right: 2px;
    background-color: #efefef; display:none;
}
.deviceDscr ol { padding:0; margin:0; float:left;}
.deviceDscr ol li { border:solid 1px #fff; float:left; width:auto; font-size:15px; margin:1px 13px 0 0; }