﻿@{
    ViewBag.Title = "MailBody";
    Layout = null;
}
<style>
.mainMail { font-size:13px; margin:0 auto; border:solid 1px #ddd; padding:5px 30px; display:block; }
</style>
@model MicroFlowSideProj.Models.A_MailList

<div class="mainMail">
    <h3>TO:@Model.MailTo</h3>
    <h3>@Model.Subject</h3>
    @Html.Raw(Model.Body)
</div>