﻿<!DOCTYPE html>
@using System.Configuration
@{
    string WebappName = System.Configuration.ConfigurationManager.AppSettings["WebappName"].ToString();
}
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title @WebappName</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/jqui")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

@*      <script src="/Scripts/jquery-1.9.0.min.js"></script>
        <script src="/Scripts/jquery.min.map"></script>
        <script src="/Scripts/jquery-ui-1.10.4.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/myPlugin.js"></script>*@


    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(System.Configuration.ConfigurationManager.AppSettings["WebappName"].ToString(), "Main", "MeetingRoom")</p>
                </div>
                <div class="float-right">
                    <a id="help"><b class="red_b">New</b>操作說明</a>
                    <a id="returnITS" href="@ConfigurationManager.AppSettings["ITSUrl"].ToString()">返回ITS</a>
                </div>
            </div>
        </header>
        <div id="body" class="Tm">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @WebappName</p>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            function host(u) { return "@System.Configuration.ConfigurationManager.AppSettings["WebHost"].ToString()"+u;}
        </script>
        @RenderSection("MyScripts", required: false)
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>
