﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "錯誤";
}

<hgroup class="title">
    <h1 class="error"></h1>
    <h2 class="error">處理您的要求時發生錯誤。@Model.Exception.Message.ToString()/h2>
</hgroup>
