﻿@{
    ViewBag.Title = "資產明細查詢";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHostUrl"].ToString();
    String Typ = ViewData["Typ"].ToString();
}
<link href="@host/Content/Asset.css" rel="stylesheet" />
<div id="mmain">
<div id="LogoTitle"><h4>@Typ 資產明細查詢</h4>

  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount"></label>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
      <input type="text" class="form-control" id="exampleInputAmount" v-model="searchText" placeholder="任意關鍵字">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
  <span>共{{iccTotal}}筆資料</span>
  <button class="btn btn-primary" id="export" v-on="click: exportExcel">匯出</button>&nbsp;
  <button class="btn btn-primary" style="float:right;" v-on="click: removeData()" >刪除</button>
  <form method="post" style="display:inline-block; float:right;" action="@host/Asset/TryUploadExcelFile" enctype="multipart/form-data">
      <input type="hidden" name="typ" value="@Typ" />
      <button class="btn btn-primary" type="submit" >匯入</button>
  </form>
  
  <form method="post" style="display:inline-block; float:right;" action="@host/Asset/Upload" enctype="multipart/form-data">
      <input class="form-control" type="file" id="uploadfiles" name="file" required />
      <input type="hidden" name="typ" value="@Typ" />
      <button class="btn btn-primary" type="submit" >上傳</button>
  </form>
 
</div>

    <table class="table">
        <thead>
            <tr class="sortable">
                <th v-repeat="tdTitle" v-class="td-note: $value=='Note', $value"
                    v-on="click: onClickSort($value)">
                    {{$value}} <span v-if="sortField==$value" class="glyphicon red glyphicon-sort-by-attributes{{(isRevers)?'':'-alt'}}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            {{currNote}}
            <tr v-repeat="a : assets | orderBy sortField isRevers | filterBy searchText" 
                track-by="AssetID"
                v-class="selected: CurrAssetID==a.AssetID">
                <td>{{a.IsUserConfirm}}</td>
                <td>{{a.AssetID}}</td>
                <td>{{a.AssetName}}</td>
                <td>{{a.OwnerGroupID}}</td>
                <td>{{a.EmpName}}</td>
                <td><span v-if="(a.IsChecked=='Y')" class="green large glyphicon glyphicon-ok"></span></td>
                <td><span v-if="(a.IsMarked=='Y')" class="green large glyphicon glyphicon-ok"></span></td>
                <td class="edit-td">
                    <button type="button" class="btn btn-info btnNote btn-sm"
                            v-if="!(a.AssetID===CurrAssetID)"
                            v-on="click: ShowEditPanel(a.AssetID)">Edit
                    </button>
                    <div class="note-dscr">{{a.Note}}</div>
                    <div class="edit-note-panel" v-if="(a.AssetID===CurrAssetID)">
                        <input v-model="a.Note" />
                        <button type="button" class="btn btn-primary" v-on="click: SaveAssetNote(a)">Save</button>
                        <button type="button" class="btn btn-default" v-on="click: HideEditPanel('')">Clear</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

    <!--
        新功能在這....


    -->
    <script type="text/javascript" src="~/Scripts/src/min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/vue/dist/vue.js"></script>*@
    <script type="text/javascript">
        //MVVM = Model,View,ViewModel
        var _Typ = "@Typ";
        var v = new Vue({
            el: "#mmain",
            data: {
                assets: null,
                tdTitle: ["IsConfirm","AssetID", "AssetName", "Location", "EmpName", "IsChecked", "IsMarked", "Note"],
                sortField: "AssetID",
                isRevers: true,
                CurrAssetID: "",
                currNote: "",
                targetAsset: null,
                searchText:"",
                iccTotal:0,
                //test:"<input type='text' />"
            },
            created: function () {
                this.fetchData();
            },
            watch: {
                "searchText": function (val, oldVal) {
                    console.log(val, oldVal);
                    this.iccTotal = this.$children.length;
                }
            },
            methods: {
                fetchData: function () {
                    var self = this;
                    $.post("@host/Asset/GridAjax", { Typ: _Typ }, function (rs) {
                        self.assets = rs;                           // <-------資料進入點
                        self.iccTotal=rs.length;
                    });
                },
                onClickSort: function (fd) {
                    //console.log(fd, this.isRevers);
                    this.sortField = fd;
                    if (this.sortField == fd) {
                        this.isRevers = !this.isRevers;
                    }
                },
                ShowEditPanel: function (assetid) {
                    console.log(assetid);
                    this.CurrAssetID = assetid;
                },
                SaveAssetNote: function (s) {
                    var self = this,
                        b = JSON.parse(JSON.stringify(s));  //s is a vue component, we need to return it as a JS object.
                    console.log(s, b);
                    $.post("@host/Asset/SaveAsset", b, function (rs) {
                        self.fetchData();
                        self.CurrAssetID = "";
                    });
                },
                HideEditPanel: function (rs) {
                    this.CurrAssetID = rs;
                },
                exportExcel: function(){
                    location.href="@host/Asset/ExportExcelFile?Typ=@Typ";
                    //$.post("@host/Asset/TryUploadExcelFile", { Typ: _Typ }, function (rs) {});
                },
                removeData: function(){
                    //remove data in Server site DB.
                    
                    var self=this;
                    $.post("@host/Asset/removeData", { Typ: _Typ }, function (rs) {
                        self.fetchData();
                    });
                },
                
            }
        });
    </script>
