﻿@using System.Configuration
@{
    ViewBag.Title = "";
}
@Styles.Render("~/Scripts/fc/fullcalendar.css", "~/Content/css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/booking.css")
@Styles.Render("~/Content/EditReservation.css")
@model Reservation.ViewModels.ReservViewModel
@{
    string IsNotify=ConfigurationManager.AppSettings["IsNotify"].ToString();
    string SysNotification = ConfigurationManager.AppSettings["SysNotification"].ToString();
    string DisabledRoomArr = "";
    foreach (var r in Model.RoomDisabled) {
        DisabledRoomArr += "#Room" + r.Name + ",";
    };
}
<div id="helpPanel">
    <div id="content">
        操作說明：
        <ul>
            <li>請開地圖選擇要預約的會議室，再點選[預約會議室]。</li>
            <li>All標籤只能檢視所有會議室預約狀況，但不能新增。</li>
            <li>只有預約當天以後的會議室，不能夠刪除/修改他人已預約的會議室。</li>
        </ul>
        <ul class="blue_ul">
            <li>新增"重複預約"功能。如下圖所示：</li>
            <li>注意他人已預約的會議室會被擋下。</li>
            <li>若要脫離預約設定，只要將"顯示頻率"勾勾拿掉，儲存即可變更。</li>
            <li>若要刪除整批重複設定，請保留"顯示頻率"勾勾，Remove之。</li>
        </ul>
        <ul>
            <li>有任何問題請聯絡 #222 Daniel。</li>
        </ul>
        <img src="@ConfigurationManager.AppSettings["WebHost"].ToString()Images/RepeatAgenda.png" style="" alt="Repeated Agenda." />
    </div>
    <button id='helpClose'><span class="glyphicon glyphicon-remove"></span></button>
    
</div>
<div class="notification">@if (IsNotify == "Y"){<span class="glyphicon red glyphicon-warning-sign"></span>@SysNotification }</div>
<div id="MeetingRoomMap">
    <div class="floor f3">
        <div id="Room3A" class="room f3" data-room='3A'><div class="inner">3A</div></div>
        <div id="Room3B" class="room f3" data-room='3B'><div class="inner2">3B</div></div>
        <div id="Room3C" class="room f3" data-room='3C'>3C</div>
        @*<div id="Room3D" class="room" data-room='3D'>3D</div>*@  
    </div>
    <div class="floor f4">
        <div id="Room6A" class="room f4" data-room='6A'>6A</div>
        <div id="Room6B" class="room f4" data-room='6B'>6B</div>    
    </div>
    <div class="floor f8">
        <div id="Room8A" class="room f8" data-room='8A'>8A</div>
        <div id="Room8B" class="room f8" data-room='8B'>8B</div>
        <div id="Room8C" class="room f8" data-room='8C'>8C</div>
        <div id="Room8D" class="room f8" data-room='8D'>8D</div>    
        <div id="Room8E" class="room f8" data-room='8E'>8E</div>
        <div id="Room8F" class="room f8" data-room='8F'>8F</div>    
    </div>
    <div id="RoomSyntek" class="room" data-room='Syntek'>太欣</div>
    <button id='btnCloseMap'><span class="glyphicon glyphicon-remove"></span></button>
</div>

<div class=btns>
    <a id="OnelabMeetingRoomMap">Room Map</a>
    <ul id="RoomTab" class="">
    @foreach (var r in Model.Rooms)
    { <li title='@r.Name' class='@("F" + r.Name) tab-span'><b>@r.Name</b><span class='@("F" + r.Name) tab-span'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>}
    </ul>
    <div id="BookingUser">預約者姓名：<b></b></div>
    <button class="btn btn-primary btn-sm" id="addnewbooking" data-toggle="modal" title="新預約會議室" data-target="#myModal"><span class="glyphicon glyphicon-plus-sign"></span> 預約會議室</button>
</div>
<div id='calendar'></div>
<span id="msg"></span>
@foreach (var r in Model.Rooms) { 
<div class="deviceDscr" data-room="@r.Name" data-Device="@r.Devices"></div>
}
@Html.Partial("EditReservation")

<script type="text/javascript"> 
var ITSUrl="@ConfigurationManager.AppSettings["ITSUrl"].ToString()", defaultRoom="@Model.DefaultRoom"
, DisabledRoom="@DisabledRoomArr";
</script>   
@section MyScripts {    
@*<script type="text/javascript" src="~/Scripts/fc/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>
<script type="text/javascript" src="~/Scripts/main-repeat.js"></script>*@
@Scripts.Render("~/Scripts/fc/fullcalendar.min.js")
@Scripts.Render("~/Scripts/main.js?v=0012")
@Scripts.Render("~/Scripts/main-repeat.js")
}