﻿@{
    ViewBag.Title = "TransferAccount";
    Layout = null;
}
@using Reservation.ViewModels
@using System.Configuration
@model LoginInfor
<br /><br /><br /><br />
<h2>會議室預約準備中...</h2>

<script type="text/javascript">
    var urlITS = "@ConfigurationManager.AppSettings["ITSUrl"].ToString()",
        urlBooking = "@ConfigurationManager.AppSettings["WebHost"].ToString()",
        urlBookingTab = "@ConfigurationManager.AppSettings["WebHostEntry"].ToString()@Model.DefaultRoom",
        urlOLP ="@ConfigurationManager.AppSettings["OLPUrl"].ToString()";

    if ("@Model.UserName" != "") 
    {
        //如果Session存在的話....
        window.localStorage["BookingUser"]="@Model.UserName";
        location.href=("@Model.FromSite"=="")? urlBooking : urlBookingTab;
    } else {
        //如果Session是空的.
        location.href = ("@Model.FromSite"=="")?urlITS:urlOLP;
    }
</script>
