﻿@{
    ViewBag.Title = "MailList";
    string TargetSite = System.Configuration.ConfigurationManager.AppSettings["TargetSite"].ToString();
}
@model  IEnumerable<MicroFlowSideProj.Models.v_MailList>

<style type="text/css">
.autologin { color:#fff; margin:3px; padding:2px 5px;}
.mail { border-bottom:dashed 1px #aaa; padding:8px;  }
</style>
<h3>MailList</h3>
@if (Model != null) {

    foreach (var m in Model) { 
        <div class=mail>
        <div> @m.CreateTime <b>@m.MailTo</b> <a class="autologin" target="_blank" href="@TargetSite/Account00/accountChange.aspx?ch=Y&empno=@m.Empno&pwd=00000">自動登入</a> </div>
        <div><a href="../MailBody/@m.mGUID">@m.Subject</a></div>
        </div>
    }
}
